/* different color for bold and italic */
.cm-strong,
.markdown-preview-section,
.callout strong {
  color: #08A045 !important;
}

.cm-em,
.markdown-preview-section,
.callout em {
  color: #C62121 !important;
}

/* justify text */
.markdown-preview-view p,
.markdown-source-view.mod-cm6 .cm-line {
	text-align: justify;
	text-justify: inter-word;	
}

/* align table center */
.markdown-preview-view table {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* align image center */
img[alt*="center"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media print {
  .print > :is(.markdown-preview-view, .markdown-rendered) {
      --h1-color: black;
      --h2-color: black;
      --h3-color: black;
      --h4-color: black;
      --h5-color: black;
      --h6-color: black;
      --em-color: #C62121;
      --strong-color: #08A045;
      --tag-color: black;
      --tag-background: transparent;
   }
}

/* font size of the pdf */
@media print {
  body {
    --font-text-size: 12pt !important;
  }
}